@model List<EntityLayer.Concrete.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<br />
<h2>Kategori Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {



        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
            <td><a href="/Course/DeleteCourse/@item.CategoryID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Course/UpdateCourse/@item.CategoryID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<br />
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Yeni Giriş</button>
